name: Merge SBOM Files

on:
  push:
    branches:
      - main
      - "release-*"

permissions:
  contents: write

jobs:
  merge-sbom:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository with PAT
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.SBOM_MANAGER_TOKEN }}

      - name: Install cdxgen
        run: npm install -g @cyclonedx/cdxgen

      - name: Merge SBOM Files
        run: |
          cdxgen --merge sbom-source.json sbom-docker.json -o merged-sbom.json

      - name: Commit and Push merged SBOM
        run: |
          BRANCH="${{ github.ref_name }}"

          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add merged-sbom.json
          git commit -m "Add merged SBOM for branch $BRANCH" || true

          git push https://${{ secrets.SBOM_MANAGER_USERNAME }}:${{ secrets.SBOM_MANAGER_TOKEN }}@github.com/${{ secrets.SBOM_MANAGER_REPO }} "$BRANCH"
